/* TYPO */

@import url('https://fonts.googleapis.com/css2?');
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}



h1{
    font-family: 'poppins', sans-serif;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
}

h3{
    font-family: 'poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
}

p {
    font-family: 'poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
}

body {
    font-family: 'poppins', sans-serif;
    position: relative;
    padding-bottom: 200px;
    min-height: 100vh;
}


.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px; 
}


/* MENU BURGER DESKTOP  */


.bg  {
    background-color: rgb(210, 210, 210);
}

.navbar {
    padding-left: 50px;
}

.navbar-toggler:focus {
    box-shadow:none;
}

@media (max-widht:360px) {
    .ul-bg {
    background-color:rgb(209, 209, 209);
    }
}

.nav-link {
    font-family: 'poppins', sans-serif;
    color: black;
    display: block;
    padding: var;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-align: center;
}

.navbar-brand {
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
}

.searchBox{
    position: relative;
}


#container{
    width:400px;
    margin:0 auto;
    margin-top:20%;
}
/* Bordered form */
form {
    width:100%;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
[type=email],[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
[type=submit] {
    background-color: #2176a1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}




/* FOOTER */

.footer {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(79, 79, 79);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}

.social-links a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}


/* RECHERCHE VOL */



.form-group {
    font-size: large;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}


.button-submit{
    text-align: center;
}

.button-submit input {
    background-color: #057f85;
    color: #ffffff;
    font-size: 25px;
    margin-top: 20px;
}

