/* TYPO */

@import url('https://fonts.googleapis.com/css2?');
@import url('https://fonts.googleapis.com/css2?family=poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

h1{
    padding-bottom: 50px;
    text-align: center;
    margin-top: 50px;
}

h3{
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    margin-top: 50px;
}

body {
    position: relative;
    padding-bottom: 200px;
    min-height: 100vh;
}

/* MENU BURGER DESKTOP  */

.logo {
    line-height: 80px;
    padding: 0 80px;
}

.bg  {
    background-color: rgb(0, 0, 0);
}

.navbar {
    padding: 0;
}

.navbar-toggler:focus {
    box-shadow:none;
}

@media (max-widht:360px) {
    .ul-bg {
    background-color:rgb(0, 0, 0);
    }
}

.nav-link {
    display: block;
    padding: var;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-align: center;
}

.navbar-brand {
    color: #ffffff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 80px;
}



img {
    height: 70px;
    width: 110px;
    color: white;
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:30%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #2176a1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}




/* FOOTER */

.footer {
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5 ease;
}

.social-links a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}


